@import "tailwindcss";


@theme {
  --font-poppins: Poppins, sans-serif;

  --color-dark-black: #121212;
  --color-jet-gray: #343434;
  --color-jet-black: #1E1E1F;
  --color-sortOf-white: #FAFAFA;

  --color-rose: #CF6679;
  --color-purple: #BB86FC;
  --color-blue: #018786;
}